.header {
    nav {
        .navbar-expand-lg {
            background-image: url(../img/y-so-serious-white.png);
            

            .container-fluid {
                display: flex; 
                justify-content: space-between; 
                align-items: center; 

                .navbar-brand {
                    display: flex;
                    align-items: center; 

                    img.logo {
                        height: 50px;
                        width: 50px;
                    }
                }
            }
        }

        .navbar-collapse {
            ul.navbar-nav {
                color: rgb(250, 105, 8);

                li.nav-item {
                    a.nav-link {
                        color: rgb(245, 115, 8);

                        img .banner {
                            height: 100%;
                            width: 100%;
                        }
                    }


                }
            }
        }
    }
}

nav a:hover {
    transform: scale(1.2);

    transition: transform 0.3s ease;

}

@keyframes pulso {


    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.logo {
    animation: pulso 2s infinite;
}


.banner {
    height: 100%;
    width: 100%;

}