.header {
    nav {
        .navbar-expand-lg {
            background-image: url(../img/y-so-serious-white.png);

            img .logo {
                height: 50px;
                width: 50px;

            }

            div .container-fluid {

                font-size: 10px;
                margin-right: 10px;
            }
        }

        .navbar-collapse {
            ul.navbar-nav {
                li.nav-item {
                    a.nav-link {
                        color: rgb(255, 81, 0);

                        img .banner {
                            height: 100%;
                            width: 100%;
                        }
                    }


                }
            }
        }
    }
}

